<%- include ../layouts/header.ejs %>

	<% if (messages.error) { %>
		<p style="font-size: 1.4em;color:red"><%- messages.error %></p>
		<% } %>

			<% if (messages.success) { %>
				<p style="font-size: 1.4em;color:darkgreen"><%- messages.success %></p>
				<% } %>

					<table class="list" width='80%' border=0>

						<tr style='text-align:center;color: white; background-color:#000000'>
							<th>Name</th>
							<th>Age</th>
							<th>Email</th>
							<th>Action</th>
						</tr>

						<% if (data) { %>
							<% data.forEach(function(user){ %>
								<tr>
									<td>
										<%= user.name %>
									</td>
									<td>
										<%= user.age %>
									</td>
									<td>
										<%= user.email %>
									</td>
									<td>
										<div class="option" style="float:left">
											<a href='/users/edit/<%= user.id %>'>Edit</a> &nbsp;
											<form method="post" action="/users/delete/<%= user.id %>"
												style="float:right">
												<input type="submit" name="delete" value='Delete'
													onClick="return confirm('Are you sure you want to delete?')" />
												<input type="hidden" name="_method" value="DELETE" />
											</form>
										</div>
									</td>
								</tr>
								<% }) %>
									<% } %>

					</table>


					<%- include ../layouts/footer.ejs %>